body{
    height: 100vh;
}
.p-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt-3{
    background-color: gray;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mt-3 .dpt{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.mt-3 p{
    padding-top: 12px;
    margin-right: 25px;
    color:azure;
    font-weight:normal;
}
