body{
    display: flex;
    margin: 0;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;    
}

.account-container{
    background-color: gray;
    padding: 0 50px 20px;
    border-radius: 2%;
    justify-content: center;
    align-items: center;
}

h2 {
  text-align: center;
  margin: 16px 0 24px;
}

.input-section{
    display: flex;
    flex-direction: column;
}

.name-group,
.initial-balance-group,
.account-number-group,
.pin-group{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    margin-bottom: 16px;
}

.name-group input,
.initial-balance-input,
.account-number-input,
.pin-group input{
    width: 80%;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-bottom: 19px;
}

.initial-balance-group p,
.account-number-group p,
.pin-group p{
    color: azure;
    margin-right: 12px;
}

.redirect-links{
    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 25px;
}
