*{
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav{
    background-color:darkcyan;
    text-align: center;
    padding: 25px;
    font-weight: bolder;
    color:azure;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main div{
    padding: 10px;
}